*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h2{
    font-weight: 700;
    padding: 31px;
    font-family: sans-serif;

}
.container{
    gap: 42px;

    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
    

}
.card{
    justify-content: center;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 45vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    
    padding: 2px;
    
}
input{
    border-radius: 5px;
    border: rgb(131, 129, 129);
    background-color: rgb(240, 240, 240);
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 292px;
}
button{
    padding: 8px;
    border: none;
    list-style-type: none;
    background-color: yellow;
    width: 192px;
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 20px;
    
}
button:hover{
    background-color: rgb(179, 255, 0);
    color: rgb(16, 15, 15);
    transform: scale(1);
    transition: 0.4s ease;

    
}
@media (max-width: 768px) {

    .container {
        height: 100vh;        
        padding: 0;
        display: flex;
        align-items: center;  
        justify-content: center; 
    }

    .card{
        width: 90%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
    }

    input{
        width: 100%;
    }

    button{
        width: 70%;
    }

    h2{
        padding: 15px;
        font-size: 22px;
        text-align: center;
    }
}